---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
UseTab: Never

BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
AllowShortFunctionsOnASingleLine: All
AlignAfterOpenBracket: AlwaysBreak
PenaltyReturnTypeOnItsOwnLine: 10000
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PointerAlignment: Right
ReferenceAlignment: Right
